body{
    display: flex;
}
.contenedor{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color:deepskyblue;
}
.leftMargin, .rightMargin
{
    width: 10%;
}
h1{
    justify-content: center;
    text-align: center;
}
.controlesEstilos{
    display: flex;
    width: 100%;
    background-blend-mode: darken;
    background-color: antiquewhite;
    flex-wrap: wrap;
}
.itemEstilo{
    justify-content: center;
    display: grid;
    grid-template-rows: 50% 50%;
    height: fit-content;
    width: 33%;
    padding-top: 5px;
    padding-bottom: 10px;
}
.estiloLabel{
    grid-row: 1;
}

.estiloInput{
    grid-row: 2;
    margin-right: auto;
    margin-left: auto;
}
*{
    font-family: Verdana;
    font-size: 12;
}